 <h1> Clientes </h1>
 
 
<div class="row">
	<table>
		<tr>
			<th>Nome</th>
			<th>Data Nascimento</th>
			<th>Criado em</th>
		</tr>
		
		{{#each model as |itemon|}}
			<tr>
				<td>{{itemon.nome}}</td>
				<td>{{itemon.dataNascimento}}</td>
				<td>{{itemon.createdAt}}</td>
			</tr>
		{{/each}}
	</table>
</div>